<div class="dialog-background" *ngIf="mostrarDialog">
  <div class="dialog">
    <!-- Modal -->
    <div class="nav-tabs-custom">
      <ul class="nav nav-tabs pull-right">
        <li class="active"><a href="#tab_1-1" data-toggle="tab" aria-expanded="true">Básico</a></li>
        <li><a href="#tab_1-2" data-toggle="tab" aria-expanded="false">Itens</a></li>
        <li class="pull-left header"><i class="fa fa-th"></i> Adicionar Insumo</li>
      </ul>
      <!-- Item Existente -->
      <div class="tab-content">
        <div class="tab-pane active" id="tab_1-1">
          <form #Forms="ngForm">
            <div class="row">
              <div class="col-md-12">
                <div class="form-group">
                  <label for="descricao">Descrição</label>
                  <textarea type="text" class="form-control" name="descricao" placeholder="Descrição do material / serviço" [(ngModel)]="novoInsumo.descricao">
                  </textarea>
                </div>
              </div>
              <div class="col-md-3">
                <div class="form-group">
                  <label for="unidade">Unidade</label>
                  <input type="text" class="form-control text-center" name="unidade" placeholder="Unidade" [(ngModel)]="novoInsumo.unidade">
                </div>
              </div>
              <div class="col-md-6">
                <div class="form-group">
                  <label for="tipos_id">Tipo</label>
                  <select class="form-control" name="tipos_id" placeholder="Tipo de Insumo / Serviço" [(ngModel)]="novoInsumo.tipos_id">
                    <option value="{{ tipo.id }}" *ngFor="let tipo of tipos">{{ tipo.descricao }}</option>
                  </select> 
                </div>
              </div>
              <div class="col-md-3">
                <div class="form-group">
                  <label for="cst_total">Preço Unitário</label>
                  <input type="text" class="form-control text-right" name="cst_total" placeholder="Preço Unitário" [(ngModel)]="novoInsumo.cst_total">
                </div>
              </div>
            </div>
          </form> 
        </div><!-- / Item Existente -->
        <!-- /.tab-pane -->

        <div class="tab-pane active" id="tab_1-2">
          <form #Forms="ngForm">
            <div class="row">
              <div class="col-md-12">
                <div class="form-group">
                  <label for="descricao">Descrição</label>
                  <textarea type="text" class="form-control" name="descricao" placeholder="Descrição do material / serviço" [(ngModel)]="novoInsumo.descricao">
                  </textarea>
                </div>
              </div>
              <div class="col-md-3">
                <div class="form-group">
                  <label for="unidade">Unidade</label>
                  <input type="text" class="form-control text-center" name="unidade" placeholder="Unidade" [(ngModel)]="novoInsumo.unidade">
                </div>
              </div>
              <div class="col-md-6">
                <div class="form-group">
                  <label for="tipos_id">Tipo</label>
                  <select class="form-control" name="tipos_id" placeholder="Tipo de Insumo / Serviço" [(ngModel)]="novoInsumo.tipos_id">
                    <option value="{{ tipo.id }}" *ngFor="let tipo of tipos">{{ tipo.descricao }}</option>
                  </select> 
                </div>
              </div>
              <div class="col-md-3">
                <div class="form-group">
                  <label for="cst_total">Preço Unitário</label>
                  <input type="text" class="form-control text-right" name="cst_total" placeholder="Preço Unitário" [(ngModel)]="novoInsumo.cst_total">
                </div>
              </div>
              
            </div>
          </form> 
        </div><!-- / Item Existente -->
        <!-- /.tab-pane -->

      </div>
      <!-- /.tab-content -->
    </div>
      <div class="row">
        <div class="col-md-2">
          <button class="btn btn-block btn-danger" (click)="CloseEvent()">Fechar</button>
        </div>
        <div class="col-md-2 col-md-offset-8">
          <button class="btn btn-block btn-primary" (click)="SalvarInsumo()">Adicionar</button>
        </div>
      </div>
  </div>
</div>