<div class="dialog-background" *ngIf="visivel == true">
  <div class="box box-primary color-palette-box dialog">
    <div class="box-header with-border">
      <h3 class="box-title">
        <i class="fa fa-search"></i> Inclusão de Itens</h3>
    </div>

    <div class="box-body">


      <div class="box-body">
        <div class="row">
          <div class="col-md-12">
            <div class="form-group">
              <label for="descricao">Descrição do Serviço / Insumo</label>
              <ng-select [items]="this.insumos | async" placeholder="Selecione um serviço / insumo" bindLabel="descricao" (change)="onChangeInsumo($event)">
              </ng-select>
            </div>
          </div>
        </div>
        <!-- /Campo Seleção de Nível -->

        <div class="row">
          <div class="col-md-12">
            <div class="form-group">
              <label for="descricao">Nível</label>
              <ng-select [items]="niveis" placeholder="Selecione o Nível" bindLabel="descricao" (change)="onChangeNivel($event)">
              </ng-select>
            </div>
          </div>
        </div>
        <!-- /Campo com a Descrição -->

        <div class="row">
          <div class="col-md-3">
            <div class="form-group">
              <label for="sequencia">Unidade</label>
              <input type="text" name="unidade" [(ngModel)]="item.unidade" class="form-control text-center">
            </div>
          </div>
          <div class="col-md-3">
            <div class="form-group">
              <label for="nivel">Quantidade</label>
              <input type="text" name="quantidade" [(ngModel)]="item.quantidade" class="form-control text-right">
            </div>
          </div>
          <div class="col-md-3">
            <div class="form-group">
              <label for="sequencia">Valor Unitário</label>
              <input type="text" name="cst_unit" [(ngModel)]="item.cst_unit" class="form-control text-right">
            </div>
          </div>
          <div class="col-md-3">
            <div class="form-group">
              <label for="sequencia">Valor Total</label>
              <input type="text" name="cst_total" [(ngModel)]="item.cst_unit * item.quantidade" class="form-control text-right">
            </div>
          </div>
        </div>
      </div>
      <!-- /Box Body -->

      <div class="box-footer">
        <div class="row">
          <div class="col-md-12">
            <button class="btn btn-danger" (click)="cancelar()">Fechar</button>
            <button class="btn btn-primary pull-right" (click)="confirmar()">Adicionar</button>
          </div>
        </div>
      </div>
      <!-- /Rodapé -->

      <!-- /.tab-content -->
    </div>
  </div>