<div class="row">
  <div class="col-lg-10 col-md-10 col-sm-9">
    <div class="form-group">
      <label for="detalhes">Descrição</label>
      <!-- <input type="text" class="form-control" id="detalhes" placeholder="Descrição sumária"> -->
      <ng-select 
        [items]="this.insumos | async" 
        placeholder="Selecione um serviço / insumo" 
        bindLabel="descricao"
        (change)="onChange($event)"></ng-select>
    </div>
  </div>
  <div class="col-lg-2 col-md-2 col-sm-3">
    <div class="form-group">
      <label for="detalhes">Quantidade</label>
      <input type="text" class="text-right" class="form-control" placeholder="Quantidade" [(ngModel)]="ItemNovo.quantidade">
    </div>
  </div>
</div>
<div class="row">
  <div class="col-md-12">
    <a class="btn btn-danger space-right pull-right" role="button" (click)="cancelar()"><i class="fa fa-plus"></i> Cancelar</a>
    <a class="btn btn-success space-right pull-right" role="button" (click)="confirmar()"><i class="fa fa-plus"></i> Adicionar</a>
  </div>
</div> 