<div class="content-header">
  <h1>Criação de Orçamento</h1>   
</div>

<br>

<!-- <div class="col-md-12">
  <div class="box box-success">
      <div class="box-header with-border">
          <h5 class="box-title">Informações salvas com sucesso!</h5>
          <div class="box-tools pull-right">
              <button class="btn btn-box-tool"><i class="fa fa-times"></i></button>
          </div>
      </div>
  </div>
</div> -->

<div class="col-md-12"><!-- Dados básicos da CPU -->
    <div class="box box-primary collapsed-box">
        <div class="box-header with-border">
            <h3 class="box-title"><i class="fa fa-info-circle"></i> Dados Gerais</h3>
            <div class="box-tools pull-right">
                <a class="btn btn-warning btn-xs" role="button" (click)="atualizarOrcamento(orcamento)"><i class="fa fa-floppy-o"></i> Atualizar</a>
                <a class="btn btn-success btn-xs space-right" role="button" (click)="novoOrcamento(orcamento)"><i class="fa fa-floppy-o"></i> Adicionar</a>
                <button type="button" class="btn btn-box-tool" data-widget="collapse"><i class="fa fa-minus"></i></button>
            </div>
        </div>
        <!-- /.box-header -->
        <div class="box-body">

            <form #form="ngForm" >
                <div class="row">
                    <!-- Código -->
                    <div class="col-md-2">
                        <div class="form-group">
                            <label for="id">Código</label>
                            <input type="text" class="form-control" name="id" [(ngModel)]="orcamento.id" placeholder="Código" />
                        </div>
                    </div><!-- /Código -->
                    <!-- Descrição -->
                    <div class="col-md-10">
                        <div class="form-group">
                            <label for="descricao">Descrição</label>
                            <textarea type="text" class="form-control" name="descricao" [(ngModel)]="orcamento.descricao" placeholder="Descrição do Orçamento"></textarea>
                        </div>
                    </div><!-- /Descrição -->
                </div>
                <div class="row">
                    <!-- Endereço -->
                    <div class="col-md-6">
                        <div class="form-group">
                            <label for="endereco">Endereço</label>
                            <input type="text" class="form-control" name="endereco" [(ngModel)]="orcamento.endereco" placeholder="Endereço"/>
                        </div>
                    </div><!-- /Endereço -->
                    <!-- Cliente -->
                    <div class="col-md-6">
                        <div class="form-group">
                            <label for="cliente">Cliente</label>
                            <input type="text" class="form-control" name="cliente" [(ngModel)]="orcamento.cliente" placeholder="Cliente"/>
                        </div>
                    </div><!-- /Cliente -->
                    </div>
                    <div class="row">
                    <!-- Contrato -->
                    <div class="col-md-4">
                        <div class="form-group">
                            <label for="contrato">Contrato</label>
                            <input type="text" class="form-control text-center" name="contrato" [(ngModel)]="orcamento.contrato" placeholder="Número do Contrato"/>
                        </div>
                    </div><!-- Contrato -->
                    <!-- Data Base -->
                    <div class="col-md-2">
                        <div class="form-group">
                            <label for="dataBase">Data Base</label>
                            <input type="text" class="form-control text-center" name="data_base" [(ngModel)]="orcamento.data_base" placeholder="Data Base"/>
                        </div>
                    </div><!-- Data Base -->
                    <!-- Leis Sociais Hora -->
                    <div class="col-md-2">
                        <div class="form-group">
                            <label for="lsHora">Leis Sociais Hora</label>
                            <input type="text" class="form-control text-right" name="ls_hora" [(ngModel)]="orcamento.ls_hora" placeholder="Leis sociais hora"/>
                        </div>
                    </div><!-- /Leis Sociais Hora -->
                    <!-- Leis Sociais Mês -->
                    <div class="col-md-2">
                        <div class="form-group">
                            <label for="lsMes">Leis Sociais Mês</label>
                            <input type="text" class="form-control text-right" name="ls_mes" [(ngModel)]="orcamento.ls_mes"  placeholder="Leis sociais mês"/>
                        </div>
                    </div><!-- /Leis Sociais Mês -->
                    <!-- Total -->
                    <div class="col-md-2">
                        <div class="form-group">
                            <label for="total">Total</label>
                            <input type="text" class="form-control text-right" name="total"  placeholder="Total" readonly/>
                        </div>
                    </div><!-- /Total -->
                </div>
            </form>
        </div><!-- /Relação de Solicitações -->
    </div>

    <div class="box box-primary">
            <div class="box-header with-border table-condensed">
                <h3 class="box-title"><i class="fa fa-list"></i> Orçamento</h3>
                <div class="box-tools pull-right">
                    <a class="btn btn-success btn-xs space-right" role="button" (click)="adicionarNovoItem()"><i class="fa fa-plus"></i> Item</a>
                    <a class="btn btn-success btn-xs space-right" role="button" (click)="adicionarNovoSubgrupo()"><i class="fa fa-plus"></i> Subgrupo</a>
                    <a class="btn btn-success btn-xs space-right" role="button" ><i class="fas fa-arrows-alt"></i> Subgrupo</a>
                    <button type="button" class="btn btn-box-tool" data-widget="collapse"><i class="fa fa-minus"></i></button>
                </div>
            </div>
            <!-- /.box-header -->
            <div class="box-body">
                <table class="table2">
                    <thead>
                        <tr>
                            <th class="text-center">ITEM</th>
                            <th class="text-center" style="width: 60%">DESCRIÇÃO DO SERVIÇO / FORNECIMENTO</th>
                            <th class="text-center">TIPO</th>
                            <th class="text-center">UNIDADE</th>
                            <th class="text-center">QUANTIDADE</th>
                            <th class="text-center">P. UNITÁRIO</th>
                            <th class="text-center">P. TOTAL</th>
                            <th>AÇÕES</th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr *ngFor="let item of items.lista ; let i = index">
                            <ng-container *ngIf="item.agrupador == false && item.visivel == true">
                                <td>{{item.itemizacao}}</td>
                                <td>{{item.descricao}}</td>
                                <td class="text-center">{{item.tipos_id}}</td>
                                <td class="text-center">{{item.unidade}}</td>
                                <td class="text-right">
                                    <input class="input-container-hidden text-right" [(ngModel)]="item.quantidade"/>
                                </td>
                                <td class="text-right">{{item.cst_unit | currency:'BRL' : true }}</td>
                                <td class="text-right">{{item.cst_total | currency:'BRL' : true }}</td>
                                <td>
                                    <a class="btn btn-success btn-xs" role="button" (click)="novoNivel(item.sequencia)"><i class="fa fa-list"></i></a>
                                    <a class="btn btn-success btn-xs" role="button" (click)="novoItem(item.sequencia)"><i class="fa fa-truck"></i></a>
                                    <a class="btn btn-danger btn-xs space-right" role="button" (click)="removerItem(item)"><i class="fa fa-trash"></i></a>
                                </td>
                            </ng-container>
                            <ng-container *ngIf="item.agrupador == true && item.visivel == true">
                                <td><strong>{{item.itemizacao}}</strong></td>
                                <td>
                                    <i *ngIf="item.expandido == true" class="fas fa-angle-down" (click)="recolherGrupo(item)"></i> 
                                    <i *ngIf="item.expandido == false" class="fas fa-angle-right" (click)="expandirGrupo(item)"></i> 
                                    <strong>{{item.descricao}}</strong>
                                </td>
                                <td></td>
                                <td></td>
                                <td></td>
                                <td></td>
                                <td class="text-right"><strong>{{item.cst_total | currency:'BRL' : true }}</strong></td>
                                <td>
                                    <a class="btn btn-success btn-xs" role="button"><i class="fa fa-list"></i></a>
                                </td>
                            </ng-container>
                        </tr>
                    </tbody>
                </table>
                
            </div><!-- /Relação de Solicitações -->
        </div>

</div><!-- /Dados básicos da CPU -->


<!-- Dialogs de gerenciamento dos itens -->
<app-subgrupo-incluir 
    [visivel]="nivel_store_visibility" 
    [orcamento]="orcamento.id" 
    [sequencia]="sequencia"
    (novoItem)="onNovoNivel($event)"
    (onCanceled)="onFecharSubitemIncluir()">
</app-subgrupo-incluir>

<app-item-incluir 
    [visivel]="item_store_visibility" 
    [orcamento]="orcamento.id" 
    [sequencia]="sequencia"
    [niveis]="niveis"
    (onConfirmed)="onNovoItem($event)"
    (onCanceled)="onFecharItemIncluir()">
</app-item-incluir>