<div class="content-header">
    <h1>Edição da CPU</h1><small>Edição dos dados e itens da CPU</small>   
</div>
<br>

<div class="col-md-9"><!-- Dados básicos da CPU -->
    <div class="box box-primary">
        <div class="box-header with-border">
            <h3 class="box-title"><i class="fa fa-info-circle"></i> Dados Gerais</h3>
        </div>
        <!-- /.box-header -->
        <div class="box-body">
            {{ cpus | json }}
            <form #form="ngForm" novalidate >
                <div class="row">
                    <div class="col-md-2">
                        <div class="form-group">
                            <label for="id">Código</label>
                            <input type="text" class="form-control" name="id" placeholder="Código" [(ngModel)]="cpus.id" />
                        </div>
                    </div>
                    <div class="col-md-10">
                        <div class="form-group">
                            <label for="descricao">Descrição</label>
                            <textarea type="text" class="form-control" name="descricao" [(ngModel)]="cpus.descricao" placeholder="Descrição do material / serviço"></textarea>
                        </div>
                    </div>
                </div><!-- /Final da linha -->
                <div class="row">
                    <div class="col-md-3">
                        <div class="form-group">
                            <label for="unidade">Unidade</label>
                            <input type="text" class="form-control text-center" name="unidade" [(ngModel)]="cpus.unidade" placeholder="Unidade"/>
                        </div>
                    </div>
                    <div class="col-md-3">
                        <div class="form-group">
                            <label for="cst_mo">Preço Mão de Obra</label>
                            <input type="text" class="form-control text-right" name="cst_mo" placeholder="Custo da mão de obra" readonly/>
                        </div>
                    </div>
                    <div class="col-md-3">
                        <div class="form-group">
                            <label for="cst_outros">Preço Outros</label>
                            <input type="text" class="form-control text-right" name="cst_outros" placeholder="Outros custos" readonly/>
                        </div>
                    </div>
                    <div class="col-md-3">
                        <div class="form-group">
                            <label for="cst_total">Preço Total</label>
                            <input type="text" class="form-control text-right" name="cst_total" [(ngModel)]="cpus.cst_total"  placeholder="Custo total do serviço" readonly/>
                        </div>
                    </div>
                </div>
            </form>
        </div><!-- /Relação de Solicitações -->
    </div>
</div><!-- /Dados básicos da CPU -->

<div class="col-md-9"><!-- Lista de itens da CPU -->
    <!-- Relação de Solicitações -->
    <div class="box box-primary">
        <div class="box-header with-border">
            <h3 class="box-title"><i class="fa fa-list"></i> Lista de Insumos e Serviços</h3>
            <a class="btn btn-primary btn-xs pull-right" role="button" (click)="showModalAddItem()"><i class="fa fa-plus-circle"></i> Adicionar</a> 
        </div>
        <!-- /.box-header -->
        <div class="box-body">
            <table class="table table-bordered">
                <tr>
                    <th class="text-center" style="min-width: 15px; width: 5%">Código</th>
                    <th class="text-center">Descrição do Insumo</th>
                    <th class="text-center" style="min-width: 15px; width: 8%">Unidade</th>
                    <th class="text-center">Tipo</th>
                    <th class="text-center" width="10%">Quantidade</th>
                    <th class="text-center" width="10%">P. Unitário</th>
                    <th class="text-center" width="10%">P. Total</th>
                </tr>
                <tr *ngFor="let item of cpus.itens">
                    <td class="text-center">{{ item.insumos_id }}</td>
                    <td>
                        {{ item.descricao }}
                        <a class="text-success pull-right" (click)="editarInsumo(i)" href="#" role="button"><i class="fa fa-pencil"></i></a> 
                        <a class="text-danger pull-right space-right" (click)="deletarInsumo(i)" href="#" role="button"><i class="fa fa-trash"></i></a> 
                    </td>
                    <td class="text-center">{{ item.unidade }}</td>
                    <td class="text-center">{{ item.tipo }}</td>
                    <td class="text-right"><input type="text" class="input-container-hidden text-right" [(ngModel)]="item.quantidade"/></td>
                    <td class="text-right">{{ item.cst_total  | currency:'BRL' : true }}</td>
                    <td class="text-right">{{ item.cst_total * item.quantidade  | currency:'BRL' : true }}</td>
                </tr>
            </table>
        </div><!-- /Relação de Solicitações -->
    </div>
</div><!-- /Lista de itens da CPU -->

<!-- Modal de acréscimo de item -->
<app-add-item-modal
        [mostrarDialog]="modalAddItemStatus" 
        (onCancel)="hideModalAddItem()" 
        (onNewItem)="addNewItem($event)">
</app-add-item-modal>