<div class="content-header">
  <h1>Relação de CPUs</h1><small>Composições Cadastradas</small>   
</div>
<br>

<div class="col-md-9">
  <!-- Relação de Solicitações -->
  <div class="box box-primary">
      <div class="box-header with-border">
          <h3 class="box-title"><i class="fa fa-list"></i> Lista de CPUs</h3>
          <a class="btn btn-primary btn-xs pull-right" role="button" (click)="createInsumo()"><i class="fa fa-plus-circle"></i> Adicionar</a> 
      </div>
      <!-- /.box-header -->
      <div class="box-body">
          <table class="table table-bordered">
              <tr>
                  <th class="text-center" style="min-width: 15px; width: 5%">Código</th>
                  <th class="text-center">Descrição do Serviço</th>
                  <th class="text-center" style="min-width: 15px; width: 8%">Unidade</th>
                  <th class="text-center">Tipo</th>
                  <th class="text-center">Preço</th>
              </tr>
              <tr *ngFor="let item of listaCpus ; let i = index">
                  <td class="text-center">{{ item.id }}</td>
                  <td>
                      {{ item.descricao }}
                      {{ item.id }}
                      <a class="btn btn-success btn-xs pull-right" [routerLink]="['/cpus-edit', item.id]" role="button"><i class="fa fa-pencil"></i></a>
                      <a class="btn btn-danger btn-xs pull-right" role="button"><i class="fa fa-trash"></i></a> 
                  </td>
                  <td class="text-center">{{ item.unidade }}</td>
                  <td class="text-center">{{ item.tipo }}</td>
                  <td class="text-right">{{ item.cst_total | currency:'BRL' : true }}</td>
              </tr>
          </table>
      </div><!-- /Relação de Solicitações -->
  </div>
</div>

<div class="col-md-3">
  <app-filtros-insumos></app-filtros-insumos>
</div>

<app-modal-edit-cpus></app-modal-edit-cpus>