<div class="content-header">
  <h1>Relação de CPUs</h1><small>Composições Cadastradas</small>   
</div>
<br>

<div class="col-md-12">
    <div class="box box-primary">
        <div class="box-header with-border">
            <h5 class="box-title">Parametros</h5>
            <div class="box-tools pull-right">
                <button type="button" class="btn btn-box-tool" data-widget="collapse"><i class="fa fa-minus"></i></button>
            </div>
        </div>
        <div class="box-body">
            <form #form="ngForm" novalidate2>
                <div class="row">
                    <div class="col-md-2">
                        <div class="form-group">
                            <label for="id">BDI (%)</label>
                            <input type="text" class="form-control text-center" name="taxa_bdi" placeholder="28" [(ngModel)]="listaCpus.taxa_bdi" />
                        </div>
                    </div>
                    <div class="col-md-2">
                        <div class="form-group">
                            <label for="descricao">Leis Sociais - Horista (%)</label>
                            <input type="text" class="form-control text-center" name="taxa_ls_hora" placeholder="124" [(ngModel)]="listaCpus.taxa_ls_hora" />
                        </div>
                    </div>
                    <div class="col-md-2">
                        <div class="form-group">
                            <label for="descricao">Leis Sociais - Mensalista (%)</label>
                            <input type="text" class="form-control text-center" name="taxa_ls_mes" placeholder="86" [(ngModel)]="listaCpus.taxa_ls_mes" />
                        </div>
                    </div>
                </div><!-- /Final da linha -->
            </form>
        </div>
    </div>
</div>

<div class="col-md-12">
  <!-- Relação de Solicitações -->
  <div class="box box-primary">
      <div class="box-header with-border">
          <h3 class="box-title"><i class="fa fa-list"></i> Lista de CPUs</h3>
          <a class="btn btn-primary btn-xs pull-right" role="button" [routerLink]="['/cpus-create']"><i class="fa fa-plus-circle"></i> Adicionar</a> 
      </div>
      <!-- /.box-header -->
      <div class="box-body">
          <table class="table table-bordered">
              <tr>
                  <th class="text-center" style="min-width: 15px; width: 5%">Código</th>
                  <th class="text-center">Descrição do Serviço</th>
                  <th class="text-center" style="min-width: 15px; width: 8%">Unidade</th>
                  <th class="text-center">Tipo</th>
                  <th class="text-center">Preço</th>
              </tr>
              <tr *ngFor="let item of listaCpus.itens ; let i = index">
                  <td class="text-center">{{ item.id }}</td>
                  <td>
                      {{ item.descricao }}
                      <a class="text-primary pull-right space-right" [routerLink]="['/cpus-edit', item.id]" role="button"><i class="fas fa-pencil-alt"></i></a>
                      <a class="text-success pull-right space-right" (click)=duplicateCpu(i) role="button"><i class="fa fa-copy"></i></a>
                      <a class="text-danger pull-right space-right" (click)="deletarCpu(i)" role="button"><i class="fa fa-trash"></i></a> 
                  </td>
                  <td class="text-center">{{ item.unidade }}</td>
                  <td class="text-center">{{ item.tipo }}</td>
                  <td class="text-right">{{ item.cst_total | currency:'BRL' : true }}</td>
              </tr>
          </table>
      </div><!-- /Relação de Solicitações -->
  </div>
</div>

<app-modal-edit-cpus></app-modal-edit-cpus>